.div_1 {
    width: 45%;
    background-color: rgb(251, 246, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 400px;
}