.bg_menu {
    width: 100%;
    height: 100px;
    background-color: rgb(9, 51, 28);
    display: grid;
    grid-template-columns: 40% 60%;
}

.picture_div {
    background-color: white;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}

.logo1 {
    height: 60px;
    width: 60px;
}

.startMenuBar {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    text-align: start;
    align-items: center;
}

.saudacao {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.endMenuBar {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    align-items: center;
}

.picture_div2 {
    background-color: white;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMenuBar {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.User {
    height: 80px;
    width: 80px;
}

.pesquisar {
    width: 70%;
    height: 40px;
}

.buttonMenuBarSearch {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    margin-left: 4px;
}

.buttonMenuBarAcess {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.buttonsEnd {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: auto;
    margin-right: 50px;
}

.lupa {
    width: 30px;
    height: 30px;
}

.sessionSeach {
    display: flex;
    width: 100%;
}